html,
body,
div,
a,
img,
span,
p,
h1,
h2,
h3,
h4,
h5,
header,
nav,
footer,
ul,
li,
button,
form,
input {
    margin: 0;
    padding: 0;
}

header,
nav,
footer {
    display: block;
}

body {
    font-size: 16px;
    background: #f4f4f4;
}

ul,
li {
    list-style: none;
}

a {
    color: #26282c;
    text-decoration: none;
}

a:hover {
    color: #1894da;
    text-decoration: none;
}


/*-- -- -- -- -- -- 头部导航 -- -- -- -- -- -- */

.navbar {
    border-radius: 0;
    padding: 10px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


/*向下滚动后，改变背景 */

.navbar.navbar-inverse.affix {
    background-color: #fff;
    border-color: #e7e7e7;
    padding: 0;
}


/*logo*/

.navbar-brand {
    width: 194px;
    height: 80px;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}


/*隐藏菜单按钮*/

.navbar-toggle {
    margin-top: 23px;
}

@media (min-width: 768px) {
    /*导航*/
    .nav {
        padding-left: 50px;
    }
    .nav>li>a {
        height: 80px;
        line-height: 80px;
        padding-top: 0;
        font-size: 18px;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: deepskyblue;
        font-weight: 800;
    }
    /*搜索*/
    .navbar-form {
        width: 400px;
        height: 80px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 80px;
    }
    .form-group {
        width: 100%;
    }
    .form-control {
        border-radius: 0;
    }
    .navbar-form .form-control {
        width: 100%;
    }
}


/*-- -- -- -- -- -- 中间项目展示 -- -- -- -- -- --*/

.wrap {
    margin-top: 120px;
}


/*项目分类*/

.items-type {
    margin: 20px 0;
}

.items-type h5 a {
    font-size: 20px;
    color: #333;
}

.items-type h5 a:hover {
    color: lightcoral;
    text-decoration: none;
}


/*项目列表*/


/*
  项目模版
  excellent:优秀项目
  all:所有项目
*/

.excellent-item,
.all-item {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-box-shadow: 0 5px 10px 0px rgba(146, 146, 146, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(146, 146, 146, 0.1);
    box-shadow: 0 5px 10px 0px rgba(146, 146, 146, 0.1);
}

.excellent-item-img a,
.all-item-img a {
    display: block;
    overflow: hidden;
}

.excellent-item-img a img,
.all-item-img a img {
    width: 100%;
    height: auto;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.excellent-item-img:hover a img,
.all-item-img:hover a img {
    -webkit-transform: -webkit-scale(1.05);
    -moz-transform: -moz-scale(1.05);
    -ms-transform: -ms-scale(1.05);
    -o-transform: -o-scale(1.05);
    transform: scale(1.05);
}

.all-item {}

.all-item-img {
    float: left;
}

.all-item-box {
    margin-left: 310px;
    padding-left: 30px;
}

.all-item-title,
.all-item-author,
.all-item-text {
    padding: 10px 0;
}

@media (max-width: 991px) {
    .all-item-box {
        margin-left: 260px;
        padding-left: 30px;
    }
    .all-item-img {
        width: 260px;
    }
    .all-item-title,
    .all-item-author,
    .all-item-text {
        padding: 5px 0;
    }
}

@media (max-width: 767px) {
    .all-item-box {
        margin-left: 200px;
        padding-left: 20px;
    }
    .all-item-img {
        width: 200px;
    }
    .all-item-title,
    .all-item-author,
    .all-item-text {
        padding: 5px 0;
    }
    .all-item-text p {
        height: 72px;
        line-height: 18px;
        overflow: hidden;
    }
}

@media (max-width: 699px) {
    .all-item-box {
        margin-left: 160px;
    }
    .all-item-img {
        width: 160px;
    }
    .all-item-title,
    .all-item-author,
    .all-item-text {
        padding: 5px 0;
    }
    .all-item-text p {
        height: 54px;
    }
}

@media (max-width: 600px) {
    .all-item-box {
        margin-left: 50px;
    }
    .all-item-img {
        width: 50px;
        margin-top: 50px;
    }
    .all-item-title,
    .all-item-author,
    .all-item-text {
        padding: 5px 0;
    }
    .all-item-text p {
        height: 54px;
    }
}


/*脚部*/

.footer {
    width: 100%;
    height: 100px;
    background: #26282c;
}